@import url('../variables.css');

 .centered-container {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly; */

}
/* .sliding-text {
  border: 1px solid orange;
} */

.ticTacToe-headline {
  font-family: var(--main-font);
  font-size: 5rem;
  color: #7dc2be;
  text-align: center;
  animation: slideFromRight 1s ease-in-out forwards; 
  opacity: 0;
  margin: 4rem auto 5rem auto;

}

.current-player-text {
  font-family: var(--secondary-font);
  font-size:2rem;
  text-align: center;
  margin-top: 3rem;
  color: var(--dark-yellow);
}

.current-player-text > span {
  font-size: 3rem;
  color: var(--dark-pink)
}

.winner-text {
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: var(--dark-pink);
  text-shadow: 0 0 1rem var(--dark-pink);
}
.winner-text > span {
  font-size: 3rem;
  display: inline-block;
  animation: growAndShrink 1s ease-in-out forwards 
}

.reset-button {
  color: red;
  font-family: var(--secondary-font);
  align-self: center;
  margin: 4rem;
  padding: 1rem 2rem;
  border: 2px solid var(--dark-pink);
  border-radius: 10px;
}

.reset-button:hover {
  cursor: pointer;
  background-color: #202020;
}

@keyframes slideFromRight {
  0%{
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;

  }
}
