:root {
  --main-font: 'Monoton';
  --secondary-font: 'Bungee';
  --dark-pink: #fe2492;
  --medium-pink: #fe4aa0;
  --dark-yellow: #e1c58c;
  --dark-blue: #4b89a9;
  --dark-turquoise: #7dc2be;
  --medium-turquiose: #5bdbe2;
  --medium-yellow: #fed318;
  --medium-purple: #685d9e;
  --light-pink: #fdaabd;
  --light-blue: #7fddeb;
  --light-yellow: #f6c321;
}